<div #dateFilterModal class="modal modal-sm fade" id="dateFilterModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center p-2">
                <h5 class="modal-title w-100">Filter by Date</h5>
            </div>
            <div class="modal-body p-3 py-2">
                <label for="dateRange" class="form-label m-0"
                    >Select Date Range</label
                >
                <select
                    class="form-select form-select-sm"
                    [(ngModel)]="selectedFilter"
                    (change)="handleFilterChange()"
                >
                    <option value="{{ dateFilterType.ALL }}">All Dates</option>
                    <option value="{{ dateFilterType.CURRENT_WEEK }}">
                        This Week
                    </option>
                    <option value="{{ dateFilterType.CURRENT_MONTH }}">
                        This Month
                    </option>
                    <option value="{{ dateFilterType.CURRENT_YEAR }}">
                        This Year
                    </option>
                    <option value="{{ dateFilterType.PAST_WEEK }}">
                        Past 7 Days
                    </option>
                    <option value="{{ dateFilterType.PAST_MONTH }}">
                        Past 30 Days
                    </option>
                    <option value="{{ dateFilterType.LAST_WEEK }}">
                        Last Week
                    </option>
                    <option value="{{ dateFilterType.LAST_MONTH }}">
                        Last Month
                    </option>
                    <option value="{{ dateFilterType.LAST_YEAR }}">
                        Last Year
                    </option>
                    <option value="{{ dateFilterType.CUSTOM }}">Custom</option>
                </select>
                @if (selectedFilter === dateFilterType.CUSTOM) {
                    <div class="p-0">
                        <label for="startDate" class="form-label m-0"
                            >Start Date</label
                        >
                        <input
                            type="date"
                            class="form-control form-control-sm m-0"
                            [(ngModel)]="startDate"
                        />
                    </div>
                    <div class="p-0">
                        <label for="endDate" class="form-label m-0"
                            >End Date</label
                        >
                        <input
                            type="date"
                            class="form-control form-control-sm m-0"
                            [(ngModel)]="endDate"
                        />
                    </div>
                }
            </div>
            <div class="modal-footer justify-content-center p-1">
                <button
                    type="button"
                    class="btn btn-sm btn-primary"
                    (click)="apply()"
                    data-bs-dismiss="modal"
                    [disabled]="!inputsChanged()"
                >
                    <i class="bi bi-check2"></i>
                    Apply
                </button>

                <button
                    type="button"
                    class="btn btn-sm btn-danger"
                    (click)="clear()"
                    data-bs-dismiss="modal"
                    [disabled]="!filterApplied()"
                >
                    <i class="bi bi-trash"></i>
                    Clear
                </button>

                <button
                    type="button"
                    class="btn btn-sm btn-warning"
                    data-bs-dismiss="modal"
                >
                    <i class="bi bi-arrow-left"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
