# .env.example - generated with dotenvx
CLIENT_LOGTAIL_TOKEN=""
SERVER_LOGTAIL_TOKEN=""

DB_HOST=""
DB_NAME=""
DB_PASSWORD=""
DB_USER=""

LOG_LEVEL=""
NODE_ENV=""
SESSION_SECRET=""

## test, prod only
CLIENT_PORT=""
SERVER_PORT=""
DOCKER_REGISTRY=""
KEYCHAIN_PASSWORD=""
