<app-loading-spinner [loading]="loading"></app-loading-spinner>

<h2 class="text-center mb-3">Transactions</h2>

@if (!transactions.length) {
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-8 col-md-6 col-xl-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <h4 class="text-center mb-0">No transactions synced</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
} @else {
    <div class="card mb-2">
        <div class="card-body">
            <table class="table table-striped table-hover table-sm mb-0">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Category</th>
                        <th scope="col">Account</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @for (t of transactions; track $index) {
                        <tr>
                            <td>{{ t.date | date: 'shortDate' }}</td>
                            <td>
                                <input
                                    class="form-control form-control-sm"
                                    type="text"
                                    [value]="formatName(t)"
                                    (focus)="showFullName($event, t)"
                                    (blur)="hideFullName($event, t)"
                                    (change)="updateName($event, t)"
                                />
                            </td>
                            <td>{{ formatCurrency(t) }}</td>
                            <td>{{ getCategory(t) }}</td>
                            <td>{{ getAccount(t) }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
