.center-div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center-div-unfiltered {
    top: 20px;
}

.pagination .page-item .page-link {
    color: black;
}

.pagination .page-item .page-link.current-page {
    pointer-events: none;
}

.pagination .page-item .page-link:not(.current-page) {
    cursor: pointer;
}

.pending-text {
    color: grey;
}

.icon-btn {
    pointer-events: none;
}
