.account-row td {
    background-color: lightgrey;
    pointer-events: none;
}

.sticky-div {
    position: sticky;
    top: 65px;
}

.dropdown {
    max-width: 300px;
}

.dropdown-header {
    color: black;
}

.dropdown-menu {
    max-height: 200px;
    overflow-x: hidden;
}

.pie-chart-div {
    width: 100% !important;
    height: 100% !important;
    max-width: 300px;
    max-height: 300px;
}
