<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">WealthWatch</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a
                    class="nav-link"
                    routerLink="/home"
                    routerLinkActive="active"
                >
                    Home
                </a>
                <!-- <a
                    class="nav-link"
                    routerLink="/transactions"
                    routerLinkActive="active"
                >
                    Transactions
                </a> -->
                <a
                    class="nav-link"
                    routerLink="/accounts"
                    routerLinkActive="active"
                >
                    Accounts
                </a>
            </div>
            <div class="navbar-nav ms-auto">
                @if (userName) {
                    <span class="navbar-text d-none d-lg-block p-2">
                        Welcome, {{ userName }}
                    </span>
                }
                <button class="btn btn-outline-danger" (click)="logout()">
                    Logout
                </button>
            </div>
        </div>
    </div>
</nav>
