// position classes
::ng-deep .top-left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
::ng-deep .top-right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

// text size classes
::ng-deep .tiny-text {
    font-size: 12px;
}
::ng-deep .small-text {
    font-size: 14px;
}
::ng-deep .medium-text {
    font-size: 16px;
}

// invalid feedback classes
::ng-deep .invalid-input {
    border-color: red !important;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.25);
}
::ng-deep .feedback-text {
    color: red;
    margin-bottom: -5px;
}

// width classes (ex: w-15)
::ng-deep {
    @for $i from 1 through 100 {
        .w-#{$i} {
            width: $i * 1%;
        }
    }
}
