<h2 class="text-center mb-3">Home</h2>

<div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 col-xl-4">
        <div class="card mb-2">
            <div class="card-body">
                <h4 class="card-title text-center mb-0">
                    @if (!inDemo) {
                        Welcome to WealthWatch, {{ firstName }}!
                    } @else {
                        Welcome to WealthWatch!
                    }
                </h4>
            </div>
        </div>
        @if (inDemo) {
            <div class="card bg-warning mb-2">
                <div class="card-body">
                    <p class="card-text text-center">
                        This demo uses Plaid sandbox data.<br />
                        To get started, <a routerLink="/accounts">link</a> some accounts.
                    </p>
                </div>
            </div>
        }
    </div>
</div>
