@for (notification of notifications; track $index) {
    <div
        class="m-2 mb-0 p-3 alert alert-dismissible {{
            getNotificationClass(notification.type)
        }}"
        role="alert"
    >
        <h4>{{ notification.message }}</h4>
        @for (line of notification.subtext; track $index) {
            <p>{{ line }}</p>
        }
        <button
            type="button"
            class="btn-close"
            (click)="onClose(notification.id)"
            aria-hidden="true"
        ></button>
    </div>
}
