<app-loading-spinner [loading]="loading"></app-loading-spinner>

<button (click)="linkAccount()" class="btn btn-primary mb-2">
    Link an Account
</button>

@if (!itemsWithAccounts.length) {
    <p>No accounts</p>
} @else {
    @for (item of itemsWithAccounts; track $index) {
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ item.institutionName }}</h5>
                <table class="table table-striped table-hover table-sm mb-0">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Number</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        @for (account of item.accounts; track $index) {
                            <tr>
                                <td>{{ account.name }}</td>
                                <td>
                                    {{ account.type }} ({{ account.subtype }})
                                </td>
                                <td>
                                    &middot;&middot;&middot;&middot;
                                    {{ account.mask }}
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
