<app-loading-spinner [loading]="loading"></app-loading-spinner>

<h2 class="text-center mb-3">Admin</h2>

@if (!accessReqs.length) {
    <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-md-6 col-xl-4">
            <div class="card mb-2">
                <div class="card-body">
                    <h4 class="text-center mb-0">No access requests</h4>
                </div>
            </div>
        </div>
    </div>
} @else {
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8">
            <div class="row">
                <div class="col">
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="mb-2 p-0">
                                <h4 class="card-title text-center mb-1">Pending Access Requests</h4>
                            </div>
                            @if (getPendingRequests().length !== 0) {
                                <table class="table table-striped table-hover table-sm align-middle mb-0">
                                    <thead class="table-dark">
                                        <tr>
                                            <th scope="col" class="text-center d-none d-sm-table-cell">Name</th>
                                            <th scope="col" class="text-center">Email</th>
                                            <th scope="col" class="text-center d-none d-md-table-cell">Request Timestamp</th>
                                            <th scope="col" class="text-center w-1">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="small-text">
                                        @for (req of getPendingRequests(); track $index) {
                                            <tr>
                                                <td class="text-center d-none d-sm-table-cell">
                                                    {{ getFullName(req) }}
                                                </td>
                                                <td class="text-center">
                                                    {{ req.email }}
                                                </td>
                                                <td class="text-center d-none d-md-table-cell">
                                                    {{ getDateString(req.createTimestamp) }}
                                                </td>
                                                <td class="d-flex gap-1 justify-content-center">
                                                    <button
                                                        type="button"
                                                        class="btn btn-sm btn-success"
                                                        title="Approve Request"
                                                        (click)="reviewRequest(req, accessRequestStatusEnum.Approved)"
                                                    >
                                                        Approve
                                                    </button>
                                                    <button
                                                        type="button"
                                                        class="btn btn-sm btn-danger"
                                                        title="Reject Request"
                                                        (click)="reviewRequest(req, accessRequestStatusEnum.Rejected)"
                                                    >
                                                        Reject
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            } @else {
                                <div class="text-center">No requests</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="mb-2 p-0">
                                <h4 class="card-title text-center mb-1">Reviewed Access Requests</h4>
                            </div>
                            @if (getReviewedRequests().length !== 0) {
                                <table class="table table-striped table-hover table-sm align-middle mb-0">
                                    <thead class="table-dark">
                                        <tr>
                                            <th scope="col" class="text-center d-none d-sm-table-cell">Name</th>
                                            <th scope="col" class="text-center">Email</th>
                                            <th scope="col" class="text-center">Status</th>
                                            <th scope="col" class="text-center d-none d-md-table-cell">Access Code</th>
                                            <th scope="col" class="text-center d-none d-lg-table-cell">Reviewer</th>
                                            <th scope="col" class="text-center d-none d-lg-table-cell">Review Timestamp</th>
                                        </tr>
                                    </thead>
                                    <tbody class="small-text">
                                        @for (req of getReviewedRequests(); track $index) {
                                            <tr>
                                                <td class="text-center d-none d-sm-table-cell">
                                                    {{ getFullName(req) }}
                                                </td>
                                                <td class="text-center">
                                                    {{ req.email }}
                                                </td>
                                                <td class="text-center {{ getStatusClass(req) }}">
                                                    {{ getStatusName(req) }}
                                                </td>
                                                <td class="text-center d-none d-md-table-cell">
                                                    {{ req.accessCode }}
                                                </td>
                                                <td class="text-center d-none d-lg-table-cell">
                                                    {{ req.reviewer }}
                                                </td>
                                                <td class="text-center d-none d-lg-table-cell">
                                                    {{ getDateString(req.updateTimestamp) }}
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            } @else {
                                <div class="text-center">No requests</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
