name: Build Shared, Client, and Server Projects

on:
    workflow_dispatch:
    pull_request_target:
        branches:
            - test
            - stage
            - main

permissions:
    packages: read

jobs:
    build:
        runs-on: self-hosted
        steps:
            - name: checkout
              uses: actions/checkout@v5
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.ref_name }}

            - name: setup node
              uses: actions/setup-node@v6
              with:
                  node-version: 'lts/*'
                  check-latest: true
                  registry-url: 'https://npm.pkg.github.com'

            - name: install, build shared
              working-directory: shared
              run: |
                  npm config ls
                  npm ci --cache .npm
                  npm run build

            - name: install, build client - non-prod
              if: (github.base_ref || github.ref_name) != 'main'
              working-directory: client
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  npm config ls
                  npm ci --cache .npm
                  npm run build:${{ github.base_ref || github.ref_name }}

            - name: install, build client - prod
              if: (github.base_ref || github.ref_name) == 'main'
              working-directory: client
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  npm config ls
                  npm ci --cache .npm
                  npm run build

            - name: install, build server
              working-directory: server
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  npm config ls
                  npm ci --cache .npm
                  npm run build

            - name: remove cache folders
              if: always()
              run: |
                  rm -rf shared/.npm
                  rm -rf client/.npm
                  rm -rf server/.npm
