name: Build Shared, Client, and Server Projects

on:
    workflow_dispatch:
    pull_request_target:
        branches:
            - test
            - stage
            - main

permissions:
    contents: read

env:
    NPM_CONFIG_USERCONFIG: /dev/null

jobs:
    build:
        runs-on: self-hosted
        steps:
            - name: checkout
              uses: actions/checkout@v5
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.ref_name }}

            - name: setup node
              uses: actions/setup-node@v6
              with:
                  node-version: 'lts/*'
                  check-latest: true
                  cache: 'npm'
                  cache-dependency-path: |
                      shared/package-lock.json
                      client/package-lock.json
                      server/package-lock.json

            - name: install, build shared
              working-directory: shared
              run: |
                  npm config ls
                  npm ci
                  npm run build

            - name: install, build client - non-prod
              if: (github.base_ref || github.ref_name) != 'main'
              working-directory: client
              run: |
                  npm config ls
                  npm ci
                  npm run build:${{ github.base_ref || github.ref_name }}

            - name: install, build client - prod
              if: (github.base_ref || github.ref_name) == 'main'
              working-directory: client
              run: |
                  npm config ls
                  npm ci
                  npm run build

            - name: install, build server
              working-directory: server
              run: |
                  npm config ls
                  npm ci
                  npm run build
