name: Deploy Infrastructure

on:
    workflow_call:
        inputs:
            runner:
                required: true
                type: string
            server_image:
                required: true
                type: string
            server_container:
                required: true
                type: string
            client_image:
                required: true
                type: string
            client_container:
                required: true
                type: string

permissions:
    contents: none

jobs:
    deploy:
        runs-on: ${{ inputs.runner }}
        environment: ${{ github.ref_name == 'main' && 'prod' || github.ref_name }}
        steps:
            - name: start docker
              env:
                  REPO: wealthwatch-${{ github.ref_name }}
                  SERVER_IMAGE: ${{ secrets.DOCKER_REGISTRY }}/${{ inputs.server_image }}
                  SERVER_CONTAINER: ${{ inputs.server_container }}
                  CLIENT_IMAGE: ${{ secrets.DOCKER_REGISTRY }}/${{ inputs.client_image }}
                  CLIENT_CONTAINER: ${{ inputs.client_container }}
              working-directory: config/infra
              run: docker compose up -d
