name: Deploy Client, Server, and Infrastructure

on:
    workflow_dispatch:
    push:
        branches:
            - test
            - stage
            - main
        paths:
            - '.github/workflows/deploy*.yml'
            - 'client/public/**'
            - 'client/src/**'
            - 'client/angular.json'
            - 'client/Dockerfile'
            - 'client/nginx.conf'
            - 'client/package-lock.json'
            - 'client/package.json'
            - 'client/tsconfig.json'
            - 'server/src/**'
            - 'server/Dockerfile'
            - 'server/package-lock.json'
            - 'server/package.json'
            - 'server/tsconfig.json'
            - 'server/tsconfig.build.json'
            - 'config/infra/**'

concurrency:
    group: deploy-${{ github.ref_name }}
    cancel-in-progress: true

permissions:
    packages: read

jobs:
    runner:
        runs-on: self-hosted
        outputs:
            runner: ${{ steps.runner.outputs.runner }}
        steps:
            - name: runner
              id: runner
              run: |
                  if [ "${{ github.ref_name }}" = "test" ]; then
                      echo "runner=mbp-14" >> $GITHUB_OUTPUT
                  else
                      echo "runner=mbp-13" >> $GITHUB_OUTPUT
                  fi

    setup:
        runs-on: self-hosted
        environment: ${{ github.ref_name == 'main' && 'prod' || github.ref_name }}
        outputs:
            repo: ${{ steps.create-vars.outputs.repo }}
            image_tag: ${{ steps.create-vars.outputs.image_tag }}
            client_image: ${{ steps.create-vars.outputs.client_image }}
            client_container: ${{ steps.create-vars.outputs.client_container }}
            server_image: ${{ steps.create-vars.outputs.server_image }}
            server_container: ${{ steps.create-vars.outputs.server_container }}
        steps:
            - name: initial vars
              run: |
                  VERSION=${{ github.run_number }}-${{ github.run_attempt }}-${{ github.run_id }}
                  echo "REPO=$(echo ${{ github.event.repository.name }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
                  echo "IMAGE_TAG=$(date +%Y-%m-%d).$VERSION" >> $GITHUB_ENV

            - name: docker context
              run: docker context ls

            - name: docker container names - non-prod
              if: github.ref_name != 'main'
              run: |
                  echo "CLIENT_CONTAINER=$REPO-${{ github.ref_name }}-client" >> $GITHUB_ENV
                  echo "SERVER_CONTAINER=$REPO-${{ github.ref_name }}-server" >> $GITHUB_ENV

            - name: docker container names - prod
              if: github.ref_name == 'main'
              run: |
                  echo "CLIENT_CONTAINER=$REPO-client" >> $GITHUB_ENV
                  echo "SERVER_CONTAINER=$REPO-server" >> $GITHUB_ENV

            - name: output vars
              id: output-vars
              run: |
                  echo "repo=$REPO" >> $GITHUB_OUTPUT
                  echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT
                  echo "client_image=$CLIENT_CONTAINER:$IMAGE_TAG" >> $GITHUB_OUTPUT
                  echo "client_container=$CLIENT_CONTAINER" >> $GITHUB_OUTPUT
                  echo "server_image=$SERVER_CONTAINER:$IMAGE_TAG" >> $GITHUB_OUTPUT
                  echo "server_container=$SERVER_CONTAINER" >> $GITHUB_OUTPUT

    deploy-client:
        needs: [runner, setup]
        uses: ./.github/workflows/deploy-client.yml
        with:
            runner: ${{ needs.runner.outputs.runner }}
            image_tag: ${{ needs.setup.outputs.image_tag }}
            image: ${{ needs.setup.outputs.client_image }}
        secrets: inherit

    deploy-server:
        needs: [runner, setup]
        uses: ./.github/workflows/deploy-server.yml
        with:
            runner: ${{ needs.runner.outputs.runner }}
            image: ${{ needs.setup.outputs.server_image }}
        secrets: inherit

    deploy-infra:
        needs: [runner, setup, deploy-client, deploy-server]
        uses: ./.github/workflows/deploy-infra.yml
        with:
            runner: ${{ needs.runner.outputs.runner }}
            repo: ${{ needs.setup.outputs.repo }}
            server_image: ${{ needs.setup.outputs.server_image }}
            server_container: ${{ needs.setup.outputs.server_container}}
            client_image: ${{ needs.setup.outputs.client_image  }}
            client_container: ${{ needs.setup.outputs.client_container}}
        secrets: inherit
