name: Deploy Client

on:
    workflow_call:
        inputs:
            runner:
                required: true
                type: string
            image:
                required: true
                type: string

permissions:
    packages: read

jobs:
    deploy:
        runs-on: ${{ inputs.runner }}
        environment: ${{ github.ref_name == 'main' && 'prod' || github.ref_name }}
        steps:
            - name: unlock keychain
              run: security unlock-keychain -p ${{ secrets.KEYCHAIN_PASSWORD }} login.keychain

            - name: checkout
              uses: actions/checkout@v6

            - name: setup node
              uses: actions/setup-node@v6
              with:
                  node-version: 'lts/*'
                  check-latest: true
                  registry-url: 'https://npm.pkg.github.com'

            - name: modify env.test.ts
              if: github.ref_name == 'test'
              working-directory: client/src/environments
              run: |
                  sed -e "s/{SERVER_PORT}/${{ vars.SERVER_PORT}}/g" \
                    env.test.ts > env.test.ts.tmp
                  mv env.test.ts.tmp env.test.ts

            - name: install, build - non-prod
              if: github.ref_name != 'main'
              working-directory: client
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  npm config ls
                  npm ci --cache .npm
                  npm run build:${{ github.ref_name }}

            - name: install, build - prod
              if: github.ref_name == 'main'
              working-directory: client
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  npm config ls
                  npm ci --cache .npm
                  npm run build

            - name: copy files
              working-directory: client
              run: |
                  mkdir stage
                  cp -r nginx.conf dist stage/
                  find stage -type f

            - name: build, push docker image
              working-directory: client/stage
              run: |
                  IMAGE=${{ secrets.DOCKER_REGISTRY }}/${{ inputs.image }}
                  docker build -t $IMAGE -f ../Dockerfile .
                  docker push $IMAGE

            - name: remove cache folder
              if: always()
              working-directory: client
              run: rm -rf .npm
